.nav-link.activate{
    border-bottom:green solid 2px!important;
}
.navbar{
    background-color: var(--color-navbar)!important;
    z-index: 1000!important;

}
.nav-link:hover{
    transform: scale(1.05);
}
.nav-link.active{
    color: rgba(0,0,0,.5)!important;
}
.nav-link{
    font-size: 1em!important;
    transition:0.3s;
    border-bottom: transparent solid 2px;
    padding-bottom:0;
    margin-bottom: .4rem;
}
.shadow-big{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important
}