@import "./navbar.css";
@import "./upcoming.css";
@import "./footer.css";

html{
  scroll-behavior: smooth; /* I do not know whether this works, but I use it */
}
body{
  min-height: 100vh;
  font-family: "Dosis", sans-serif;
  background: linear-gradient(180deg, #b2dbbf, #f4f1de 40% );
  
}

.text-white{
  color: #ffffff;
}
.text-black{
  color:#000000;
}
h1{
  font-size: 3.5em;
}

.shadow-big{ /* Used in the navbar and launchItem */
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.35)!important
}
